:root {
  --img-size: 20em;
}

html {
  color: #303030;
  font-family: Helvetica, Arial, Verdana;
  font-size: calc(16px + 0.25vw);
  line-height: 1.55;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern", "liga" 1, "calt" 0;
          font-feature-settings: "kern", "liga" 1, "calt" 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: hsla(334, 78%, 61%, 1);
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items:  center;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: steelblue;
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
  outline: 0;
}

a:active, a:focus, a:hover {
  text-decoration: underline;
}

.moodboard {
  background: white;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap:  wrap;
  justify-content:  center;
  align-items: center;
  max-width: 80em;
}

.moodboard img {
  display: block;
  max-width: var(--img-size);
  max-height: var(--img-size);
  margin: 2em;
}


@media screen and (max-width: 50em) {
  .moodboard img{
    max-width: 100%;
  }
}
