@import 'photoswipe/style.css';

img {
  max-width:100%;
}

a.callout {
  background: black;
  color: white;
  text-transform: none;
}

a.callout:hover {
  background: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
    a.callout {
      background: white;
      color: black;
    }

    a.callout:hover {
      background: black;
      color: white;
    }
}


.pulled-img {
  float: right; /* or 'left' */
  width: 200px; /* adjust to preferred size */
  margin: 0 0 1rem 1rem; /* top right bottom left margin */
  border-radius: 8px; /* optional, makes it look nicer */
}

.moodboard {
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5em;
}

.moodboard a:hover {
  background: unset;
  color: unset;
}
